{% extends "learning_apps/base.html" %}

{% block content %}

<p>Topics</p>
<ul>
    {% for topic in topics %}
    <li>
        <a href="{% url 'learning_apps:topic' topic.id %}">{{ topic }}</a>
        </li>
    <li>{{ topic }}</li>
    {% empty %}
    <li>No topics have been added yet.</li>
    {% endfor %}
</ul>

{% endblock content %}


{% extends 'learning_apps/base.html' %}

{% block content %}

<p>Topic: {{ topic }}</p>
<p>Entries:</p>
<ul>
    {% for entry in entries %}
    <li>
        <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
        <p>{{ entry.text|linebreaks }}</p>
    </li>
    
    {% empty %}
    <li>There are no entries for this topic yet.

    </li>
    
    {% endfor %}

</ul>

{% endblock content %}